/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding: 100px 0;
  font-family: var(--inter), sans-serif;
  color: var(--font-color);
  font-variation-settings: "wght" var(--wght-text--light);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  font-size: 18px;
  line-height: 21px;
}

.card-text:not(:last-child) {
  margin-block-end: 1.5em;
}

.card-textholder {
  padding: 25px;
}

.section {
  border: 2px solid var(--font-color);
  background-color: var(--background-color);
  width: clamp(372px, 50%, 700px);
  margin: 0 auto 49px;
}

.header {
  font-family: var(--pressStart), fantasy;
  padding: 157px 0 18px 0;
  text-align: center;
  margin: 0 auto 100px;
}

.h1 {
  font-size: clamp(0.9rem, 1.59vw, 3rem);
  margin-bottom: 21px;
  text-transform: uppercase;
}

.h2 {
  font-size: clamp(49px, 4.5vw, 4.4rem);
  text-transform: uppercase;
  margin-bottom: 44px;
}

.card-title {
  padding: 1px 11px 5px;
  font-size: 1em;
  font-variation-settings: 'wght' var(--wght-title, 700);
  letter-spacing: 0;
  line-height: 1.4em;
}

.theme-menu__button {
  margin-bottom: 0.51em;
  position: relative;
  transition: ease 0.3s;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 0.03em;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button::after {
  position: absolute;
  content: "";
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: var(--font-color);
  display: block;
  transition: 0.3s;
}

.theme-menu__button:focus-visible:not(:hover):after {
  width: 100%;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled::after {
  content: "▶";
  position: absolute;
  top: 0;
  left: -20px;
  animation: menuArrow 0.5s ease-in-out infinite alternate;
}

@keyframes menuArrow {
  0% {
    left: -20px;
  }
  100% {
    left: -16px;
  }
}

.header__theme-menu {
  width: max-content;
  margin: 0 auto;
  text-align: left;
  padding: 0 0 0 1em;
}

.save-button {
  display: flex;
  column-gap: 8px;
  align-items: center;
  margin: 0 auto;
  width: clamp(335px, 30%, 340px);
  min-height: 51px;
  padding: 15px 19px;
  justify-content: center;
}

.floppy {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-imageholder {
  position: relative;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  display: flex;
  aspect-ratio: 1 / 1;
  box-shadow: 0 -2px 0 var(--font-color), 0 2px 0 var(--font-color);
}

.card-label {
  position: absolute;
  z-index: 4;
  display: block;
  right: 25px;
  top: 25px;
  font-family: var(--pressStart), fantasy;
  font-size: clamp(14px, 1vw, 30px);
  mix-blend-mode: hard-light;
  color: var(--font-color);
  text-transform: uppercase;
  text-shadow: -1px 0 var(--stroke), 0 1px var(--stroke), 1px 0 var(--stroke), 0 -1px var(--stroke);
}

@supports ((-webkit-text-stroke: 1px var(--stroke))) {
  .card-label {
    -webkit-text-stroke: 1px var(--stroke);
    /* text-stroke: 1px  var(--stroke); */
    text-shadow: none;
  }
}

/* buttons */

.button-holder {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 0 25px 26px;
  column-gap: 4px;
}

.like-icon {
  width: 36px;
  height: 34px;
  overflow: visible;
}

.card__icon-button {
  /* padding: 4px; */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--transparent-color);
  transition: 0.3s ease;
}

.card__icon-button:focus-visible {
  border-color: var(--font-color);
}

.button-styles {
  font-family: var(--pressStart), fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1em;
  padding: 9px 17px;
  border: 2px solid var(--font-color);
  background-color: var(--background-color);
  position: relative;
  transition: 0.3s;
  min-width: 130px;
}

.button-animation {
  box-shadow: 0px 0px 0 0 var(--font-color);
}

.button-animation:focus-visible {
  box-shadow: 4px 4px 0 0 var(--font-color);
}

.button-animation::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  background: var(--hover-color);
  transition: 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.button-animation:hover::after {
  z-index: 2;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  transition: 0.5s ease-in-out;
}

.button__text {
  position: relative;
  z-index: 3;
  mix-blend-mode: difference;
  color: var(--accent-color);
}

.dialog[open] {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 30px 20px;
  align-items: center;
  background: var(--background-color);
  color: var(--font-color);
  width: clamp(320px, 30vw, 357px);
  inset: 0;
  text-transform: uppercase;
  padding: 30px;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.flex-holder {
  display: flex;
  align-items: center;
  margin: 0 0 30px 0;
}

form {
  grid-column: 1/-1;
}

.dialog-button {
  text-transform: inherit;
  width: 100%;
}

.dialog_icon {
  inline-size: 39px;
}
.dialog-text {
  line-height: 150%;
}

.button_icon {
  block-size: 1.5em;
}

@media screen and (max-width: 380px) {
  .section {
    width: 100%;
    min-width: 300px;
  }

  .save-button {
    width: 100%;
  }

  .header {
    padding: 134px 0 18px 0
  }

  .h2 {
    margin-bottom: 30px;
  }

  .h1 {
    margin-bottom: 17px;
  }

  .card-title {
    padding: 5px 10px;
    line-height: 1.2em;
  }
}


/* card-image */
/* Минимум на семи картинках должны быть разные фильтры */
.section:nth-child(1) .card-image {
  filter: brightness(3);
}

.section:nth-child(2) .card-image {
  filter: grayscale(1);
}

.section:nth-child(3) .card-image {
  filter: blur(1.5rem);
}

.section:nth-child(4) .card-image {
  filter: sepia(1);
}

.section:nth-child(5) .card-image {
  filter: opacity(0.2);
}

.section:nth-child(6) .card-image {
  filter: saturate(4);
}

.section:nth-child(7) .card-image {
  filter: hue-rotate(-90deg);
}

/* хотя бы один из них — множественный */
.section:nth-child(8) .card-image {
  filter: invert(100%) saturate(4);
}